<?xml version="1.0"?>
<launch>
  <arg name="server" default="127.0.0.1"/>
  <arg name="port" default="3883"/>
  <arg name="uav_tracker" default="uav1"/>
  <arg name="ugv_tracker" default="ugv1"/>
  <arg name="client_trackers" default="$(arg uav_tracker), $(arg ugv_tracker)"/>
  <arg name="mavros_ns" default="/uav1/mavros"/>
  <arg name="vrpn_client_name" default="vrpn_client_node"/>
  <arg name="router_config_file" default="$(find gazebo_sim_examples)/config/fs150_vrpn_router.yaml"/>
  <arg name="frame_id" default="map"/>
  <arg name="output_frame_id" default="map"/>

  <arg name="update_frequency" default="100.0"/>
  <arg name="use_server_time" default="false"/>
  <arg name="broadcast_tf" default="false"/>
  <arg name="refresh_tracker_frequency" default="0.0"/>

  <arg name="max_output_rate_hz" default="50.0"/>
  <arg name="min_input_rate_hz" default="30.0"/>
  <arg name="max_input_rate_hz" default="150.0"/>
  <arg name="stale_timeout_s" default="0.3"/>
  <arg name="stuck_timeout_s" default="0.5"/>
  <arg name="stuck_position_epsilon_m" default="0.001"/>
  <arg name="stuck_angle_epsilon_deg" default="0.2"/>
  <arg name="max_translation_jump_m" default="1.0"/>
  <arg name="max_rotation_jump_deg" default="45.0"/>
  <arg name="max_reference_delta_m" default="2.0"/>

  <node pkg="vrpn_client_ros"
        type="vrpn_client_node"
        name="$(arg vrpn_client_name)"
        output="screen">
    <rosparam subst_value="true">
      server: $(arg server)
      port: $(arg port)
      update_frequency: $(arg update_frequency)
      frame_id: $(arg frame_id)
      use_server_time: $(arg use_server_time)
      broadcast_tf: $(arg broadcast_tf)
      refresh_tracker_frequency: $(arg refresh_tracker_frequency)
      trackers: [$(arg client_trackers)]
    </rosparam>
  </node>

  <node pkg="vrpn_router"
        type="vrpn_router_node"
        name="vrpn_router"
        output="screen"
        clear_params="true">
    <rosparam command="load" file="$(arg router_config_file)" subst_value="true"/>
  </node>
</launch>
