<?xml version="1.0"?>
<launch>
  <arg name="ns" default="uav1"/>
  <arg name="vrpn_rigid_body" default="$(arg ns)"/>
  <arg name="fs150_id" default="4"/>
  <arg name="takeoff_altitude" default="3.0"/>
  <arg name="reference_config_file" default="$(find multirotor_reference_trajectory)/config/multirotor_reference_trajectory.yaml"/>
  <arg name="controller_config_file" default="$(find px4_multirotor_controller)/config/uav_nmpc.yaml"/>
  <arg name="tracking_backend" default="dfbc_attitude_rate"/>
  <arg name="hover_thrust_config_file" default="$(find hover_thrust_estimator)/config/hover_thrust_estimator.yaml"/>
  <arg name="vrpn_px4_rotor_state_config_file" default="$(find gazebo_sim_examples)/config/vrpn_px4_rotor_state_estimator_fs150_tracking.yaml"/>
  <arg name="debug_print" default="false"/>

  <arg name="fence_x_min" default="-1000000.0"/>
  <arg name="fence_x_max" default="1000000.0"/>
  <arg name="fence_y_min" default="-1000000.0"/>
  <arg name="fence_y_max" default="1000000.0"/>
  <arg name="fence_z_min" default="-1000000.0"/>
  <arg name="fence_z_max" default="1000000.0"/>
  <arg name="position_jump_threshold" default="100.0"/>
  <arg name="max_velocity_xy" default="1000.0"/>
  <arg name="max_velocity_z" default="1000.0"/>
  <arg name="acc_saturation_xy" default="1000.0"/>
  <arg name="acc_saturation_z" default="1000.0"/>
  <arg name="enable_yaw_control" default="false"/>
  <arg name="reference_start_delay" default="0.2"/>
  <arg name="reference_duration" default="60.0"/>
  <arg name="reference_radius" default="3.0"/>
  <arg name="reference_line_speed" default="1.0"/>
  <arg name="reference_height" default="3.0"/>
  <arg name="reference_z_amplitude" default="0.0"/>
  <arg name="reference_z_frequency" default="0.5"/>
  <arg name="reference_entry_duration" default="5.0"/>
  <arg name="reference_analytic_type" default="3"/>
  <arg name="reference_torus_omega" default="0.3"/>
  <arg name="reference_torus_scale" default="0.3"/>
  <arg name="reference_path_sample_dt" default="0.02"/>
  <arg name="reference_path_preview_duration" default="$(arg reference_duration)"/>

  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="interactive" default="false"/>
  <arg name="world" default="$(find gazebo_sim_worlds)/worlds/weston_robot_empty/weston_robot_empty.world"/>

  <arg name="fs150_launch" default="$(find gazebo_sim_fs150_sitl)/launch/fs150.launch"/>
  <arg name="fs150_px4_launch" default="$(find gazebo_sim_px4_1_12)/launch/iris.launch"/>
  <arg name="fs150_base_sdf" default="$(find gazebo_sim_fs150_sitl)/models/fs150/iris.sdf"/>
  <arg name="fs150_sdf" default="$(env HOME)/.xgc2/fs150_sitl/iris_indoor.sdf"/>
  <arg name="fs150_param_file" default="$(find gazebo_sim_fs150_sitl)/config/generated/fs150-sitl.params"/>
  <arg name="fs150_reset_params" default="true"/>
  <arg name="fs150_strip_gps" default="false"/>
  <arg name="fs150_strip_mag" default="false"/>
  <arg name="fs150_strip_baro" default="false"/>

  <arg name="vrpn_server_launch" default="$(find gazebo_sim_vrpn_bridge)/launch/vrpn_server.launch"/>
  <arg name="vrpn_client_launch" default="$(find gazebo_sim_vrpn_bridge)/launch/vrpn_client.launch"/>
  <arg name="vrpn_config_file" default="$(find gazebo_sim_vrpn_bridge)/config/fs150_uav_vrpn_server.yaml"/>

  <arg name="vrpn_port" default="3883"/>
  <arg name="vrpn_frame_id" default="world"/>
  <arg name="vrpn_update_frequency" default="100.0"/>

  <param name="/gazebo_sim_examples/fs150_indoor_sdf"
         command="$(find gazebo_sim_fs150_sitl)/scripts/render_fs150_indoor_sdf.py --base-sdf $(arg fs150_base_sdf) --output $(arg fs150_sdf) --strip-gps $(arg fs150_strip_gps) --strip-mag $(arg fs150_strip_mag) --strip-baro $(arg fs150_strip_baro) --print-path"/>

  <include file="$(arg fs150_launch)">
    <arg name="ID" value="$(eval int(arg('fs150_id')) - 1)"/>
    <arg name="px4_launch" value="$(arg fs150_px4_launch)"/>
    <arg name="sdf" value="$(arg fs150_sdf)"/>
    <arg name="param_file" value="$(arg fs150_param_file)"/>
    <arg name="reset_params" value="$(arg fs150_reset_params)"/>
    <arg name="model_name" value="$(arg vrpn_rigid_body)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="world" value="$(arg world)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="interactive" value="$(arg interactive)"/>
  </include>

  <include file="$(arg vrpn_server_launch)">
    <arg name="config" value="$(arg vrpn_config_file)"/>
    <arg name="trackers" value="$(arg vrpn_rigid_body)"/>
  </include>

  <include file="$(arg vrpn_client_launch)">
    <arg name="server" value="127.0.0.1"/>
    <arg name="port" value="$(arg vrpn_port)"/>
    <arg name="trackers" value="[$(arg vrpn_rigid_body)]"/>
    <arg name="frame_id" value="$(arg vrpn_frame_id)"/>
    <arg name="update_frequency" value="$(arg vrpn_update_frequency)"/>
    <arg name="use_server_time" value="false"/>
    <arg name="broadcast_tf" value="false"/>
    <arg name="refresh_tracker_frequency" value="0.0"/>
  </include>

  <include file="$(find estimator_vrpn_px4_rotor_state)/launch/vrpn_px4_rotor_state_estimator.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="config_file" value="$(arg vrpn_px4_rotor_state_config_file)"/>
  </include>

  <include file="$(find px4_multirotor_controller)/launch/uav_nmpc_controller.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="vrpn_rigid_body" value="$(arg vrpn_rigid_body)"/>
    <arg name="debug_print" value="$(arg debug_print)"/>
    <arg name="takeoff_altitude" value="$(arg takeoff_altitude)"/>
    <arg name="config_file" value="$(arg controller_config_file)"/>
    <arg name="tracking_backend" value="$(arg tracking_backend)"/>
    <arg name="hover_thrust_config_file" value="$(arg hover_thrust_config_file)"/>
    <arg name="fence_x_min" value="$(arg fence_x_min)"/>
    <arg name="fence_x_max" value="$(arg fence_x_max)"/>
    <arg name="fence_y_min" value="$(arg fence_y_min)"/>
    <arg name="fence_y_max" value="$(arg fence_y_max)"/>
    <arg name="fence_z_min" value="$(arg fence_z_min)"/>
    <arg name="fence_z_max" value="$(arg fence_z_max)"/>
    <arg name="position_jump_threshold" value="$(arg position_jump_threshold)"/>
    <arg name="max_velocity_xy" value="$(arg max_velocity_xy)"/>
    <arg name="max_velocity_z" value="$(arg max_velocity_z)"/>
    <arg name="acc_saturation_xy" value="$(arg acc_saturation_xy)"/>
    <arg name="acc_saturation_z" value="$(arg acc_saturation_z)"/>
    <arg name="enable_yaw_control" value="$(arg enable_yaw_control)"/>
    <arg name="reference_start_delay" value="$(arg reference_start_delay)"/>
    <arg name="reference_duration" value="$(arg reference_duration)"/>
    <arg name="reference_radius" value="$(arg reference_radius)"/>
    <arg name="reference_line_speed" value="$(arg reference_line_speed)"/>
    <arg name="reference_height" value="$(arg reference_height)"/>
    <arg name="reference_z_amplitude" value="$(arg reference_z_amplitude)"/>
    <arg name="reference_z_frequency" value="$(arg reference_z_frequency)"/>
    <arg name="reference_entry_duration" value="$(arg reference_entry_duration)"/>
    <arg name="reference_analytic_type" value="$(arg reference_analytic_type)"/>
    <arg name="reference_torus_omega" value="$(arg reference_torus_omega)"/>
    <arg name="reference_torus_scale" value="$(arg reference_torus_scale)"/>
  </include>

  <include file="$(find multirotor_reference_trajectory)/launch/uav_multirotor_reference_trajectory.launch">
    <arg name="ns" value="$(arg ns)"/>
    <arg name="config_file" value="$(arg reference_config_file)"/>
    <arg name="reference_path_sample_dt" value="$(arg reference_path_sample_dt)"/>
    <arg name="reference_path_preview_duration" value="$(arg reference_path_preview_duration)"/>
  </include>
</launch>
