<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="interactive" default="false"/>

  <arg name="world" default="$(find gazebo_sim_scout)/worlds/weston_robot_empty.world"/>

  <arg name="fs150_id" default="4"/>
  <arg name="fs150_model_name" default="uav1"/>
  <arg name="fs150_namespace" default="uav1"/>
  <arg name="fs150_x" default="0"/>
  <arg name="fs150_y" default="0"/>
  <arg name="fs150_z" default="0"/>
  <arg name="fs150_yaw" default="0"/>

  <arg name="ugv_model_name" default="ugv1"/>
  <arg name="ugv_namespace" default="ugv1"/>
  <arg name="ugv_x" default="3"/>
  <arg name="ugv_y" default="0"/>
  <arg name="ugv_z" default="0.181"/>
  <arg name="ugv_yaw" default="0"/>
  <arg name="ugv_wheel_contact_mu2" default="0.35"/>
  <arg name="ugv_wheel_contact_slip2" default="0.1"/>
  <arg name="ugv_wheel_pid_p" default="1.0"/>
  <arg name="ugv_wheel_pid_i" default="0.0"/>
  <arg name="ugv_wheel_pid_d" default="0.0"/>
  <arg name="ugv_wheel_separation" default="0.416503"/>
  <arg name="ugv_wheel_radius" default="0.08"/>
  <arg name="ugv_command_gain" default="1.0"/>

  <arg name="vrpn_server" default="127.0.0.1"/>
  <arg name="vrpn_port" default="3883"/>
  <arg name="vrpn_frame_id" default="map"/>
  <arg name="vrpn_output_frame_id" default="map"/>
  <arg name="vrpn_update_frequency" default="100.0"/>
  <arg name="vrpn_use_server_time" default="false"/>
  <arg name="vrpn_broadcast_tf" default="false"/>
  <arg name="vrpn_max_output_rate_hz" default="50.0"/>

  <include file="$(find gazebo_sim_examples)/launch/fs150_ugv_vrpn.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="interactive" value="$(arg interactive)"/>
    <arg name="world" value="$(arg world)"/>
    <arg name="fs150_id" value="$(arg fs150_id)"/>
    <arg name="fs150_model_name" value="$(arg fs150_model_name)"/>
    <arg name="fs150_namespace" value="$(arg fs150_namespace)"/>
    <arg name="fs150_x" value="$(arg fs150_x)"/>
    <arg name="fs150_y" value="$(arg fs150_y)"/>
    <arg name="fs150_z" value="$(arg fs150_z)"/>
    <arg name="fs150_yaw" value="$(arg fs150_yaw)"/>
    <arg name="ugv_model_name" value="$(arg ugv_model_name)"/>
    <arg name="ugv_namespace" value="$(arg ugv_namespace)"/>
    <arg name="ugv_x" value="$(arg ugv_x)"/>
    <arg name="ugv_y" value="$(arg ugv_y)"/>
    <arg name="ugv_z" value="$(arg ugv_z)"/>
    <arg name="ugv_yaw" value="$(arg ugv_yaw)"/>
    <arg name="ugv_wheel_contact_mu2" value="$(arg ugv_wheel_contact_mu2)"/>
    <arg name="ugv_wheel_contact_slip2" value="$(arg ugv_wheel_contact_slip2)"/>
    <arg name="ugv_wheel_pid_p" value="$(arg ugv_wheel_pid_p)"/>
    <arg name="ugv_wheel_pid_i" value="$(arg ugv_wheel_pid_i)"/>
    <arg name="ugv_wheel_pid_d" value="$(arg ugv_wheel_pid_d)"/>
    <arg name="ugv_wheel_separation" value="$(arg ugv_wheel_separation)"/>
    <arg name="ugv_wheel_radius" value="$(arg ugv_wheel_radius)"/>
    <arg name="ugv_command_gain" value="$(arg ugv_command_gain)"/>
  </include>

  <include file="$(find gazebo_sim_examples)/launch/fs150_ugv_vrpn_router.launch">
    <arg name="server" value="$(arg vrpn_server)"/>
    <arg name="port" value="$(arg vrpn_port)"/>
    <arg name="uav_tracker" value="$(arg fs150_model_name)"/>
    <arg name="ugv_tracker" value="$(arg ugv_model_name)"/>
    <arg name="client_trackers" value="$(arg fs150_model_name), $(arg ugv_model_name)"/>
    <arg name="mavros_ns" value="/$(arg fs150_namespace)/mavros"/>
    <arg name="frame_id" value="$(arg vrpn_frame_id)"/>
    <arg name="output_frame_id" value="$(arg vrpn_output_frame_id)"/>
    <arg name="update_frequency" value="$(arg vrpn_update_frequency)"/>
    <arg name="use_server_time" value="$(arg vrpn_use_server_time)"/>
    <arg name="broadcast_tf" value="$(arg vrpn_broadcast_tf)"/>
    <arg name="max_output_rate_hz" value="$(arg vrpn_max_output_rate_hz)"/>
  </include>
</launch>
