<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true"/>
  <arg name="debug" default="false"/>
  <arg name="verbose" default="false"/>
  <arg name="paused" default="false"/>
  <arg name="interactive" default="false"/>

  <arg name="world" default="$(find gazebo_sim_worlds)/worlds/weston_robot_empty/weston_robot_empty.world"/>

  <arg name="fs150_launch" default="$(find gazebo_sim_fs150_sitl)/launch/fs150.launch"/>
  <arg name="fs150_id" default="4"/>
  <arg name="fs150_px4_launch" default="$(find gazebo_sim_px4_1_12)/launch/iris.launch"/>
  <arg name="fs150_base_sdf" default="$(find gazebo_sim_fs150_sitl)/models/fs150/iris.sdf"/>
  <arg name="fs150_sdf" default="$(env HOME)/.xgc2/fs150_sitl/iris_indoor.sdf"/>
  <arg name="fs150_param_file" default="$(find gazebo_sim_fs150_sitl)/config/generated/fs150-sitl.params"/>
  <arg name="fs150_reset_params" default="true"/>
  <arg name="fs150_strip_gps" default="false"/>
  <arg name="fs150_strip_mag" default="false"/>
  <arg name="fs150_strip_baro" default="false"/>
  <arg name="fs150_model_name" default="uav1"/>
  <arg name="fs150_ns" default="uav1"/>
  <arg name="fs150_x" default="0"/>
  <arg name="fs150_y" default="0"/>
  <arg name="fs150_z" default="0"/>
  <arg name="fs150_yaw" default="0"/>

  <arg name="ugv_model_name" default="ugv1"/>
  <arg name="ugv_spawn_launch" default="$(find gazebo_sim_scout)/launch/spawn_accurate.launch"/>
  <arg name="ugv_ns" default="ugv1"/>
  <arg name="ugv_x" default="3"/>
  <arg name="ugv_y" default="0"/>
  <arg name="ugv_z" default="0.181"/>
  <arg name="ugv_yaw" default="0"/>
  <arg name="ugv_wheel_contact_mu2" default="0.20"/>
  <arg name="ugv_wheel_contact_slip2" default="0.5"/>
  <arg name="ugv_wheel_pid_p" default="1.0"/>
  <arg name="ugv_wheel_pid_i" default="0.0"/>
  <arg name="ugv_wheel_pid_d" default="0.0"/>
  <arg name="ugv_wheel_separation" default="0.416503"/>
  <arg name="ugv_wheel_radius" default="0.08"/>
  <arg name="ugv_command_gain" default="1.0"/>
  <!--
    FS150/Scout example yaw-response calibration.
    Keep the Scout model geometry clean: wheel_separation remains physical.
    This gain scales only the skid-steer differential/yaw term so low
    cmd_vel.angular.z values respond continuously in the Gazebo contact model.
    Set to 1.0 to run the uncalibrated base-controller mapping.
  -->
  <arg name="ugv_angular_command_gain" default="3.15"/>

  <arg name="vrpn_server" default="127.0.0.1"/>
  <arg name="vrpn_port" default="3883"/>
  <arg name="vrpn_server_launch" default="$(find gazebo_sim_vrpn_bridge)/launch/vrpn_server.launch"/>
  <arg name="vrpn_client_launch" default="$(find gazebo_sim_vrpn_bridge)/launch/vrpn_client.launch"/>
  <arg name="vrpn_config_file" default="$(find gazebo_sim_vrpn_bridge)/config/fs150_ugv_vrpn_server.yaml"/>
  <arg name="vrpn_frame_id" default="map"/>
  <arg name="vrpn_update_frequency" default="100.0"/>
  <arg name="vrpn_use_server_time" default="false"/>
  <arg name="vrpn_broadcast_tf" default="false"/>
  <arg name="vrpn_refresh_tracker_frequency" default="0.0"/>

  <arg name="start_rigid_state_estimators" default="true"/>
  <arg name="vrpn_px4_rotor_state_config_file" default="$(find gazebo_sim_examples)/config/vrpn_px4_rotor_state_estimator_fs150_tracking.yaml"/>
  <arg name="vrpn_ugv_state_config_file" default="$(find estimator_vrpn_ugv_state)/config/vrpn_ugv_state_estimator.yaml"/>
  <arg name="ugv_estimator_imu_topic" default="/$(arg ugv_ns)/imu"/>
  <arg name="ugv_estimator_vrpn_pose_topic" default="/vrpn_client_node/$(arg ugv_model_name)/pose"/>
  <arg name="ugv_estimator_state_topic" default="alg/state_estimator/state"/>
  <arg name="ugv_estimator_extrinsic_verified" default="true"/>

  <include file="$(dirname)/fs150_ugv_vrpn.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="verbose" value="$(arg verbose)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="interactive" value="$(arg interactive)"/>
    <arg name="world" value="$(arg world)"/>
    <arg name="fs150_launch" value="$(arg fs150_launch)"/>
    <arg name="fs150_id" value="$(arg fs150_id)"/>
    <arg name="fs150_px4_launch" value="$(arg fs150_px4_launch)"/>
    <arg name="fs150_base_sdf" value="$(arg fs150_base_sdf)"/>
    <arg name="fs150_sdf" value="$(arg fs150_sdf)"/>
    <arg name="fs150_param_file" value="$(arg fs150_param_file)"/>
    <arg name="fs150_reset_params" value="$(arg fs150_reset_params)"/>
    <arg name="fs150_strip_gps" value="$(arg fs150_strip_gps)"/>
    <arg name="fs150_strip_mag" value="$(arg fs150_strip_mag)"/>
    <arg name="fs150_strip_baro" value="$(arg fs150_strip_baro)"/>
    <arg name="fs150_model_name" value="$(arg fs150_model_name)"/>
    <arg name="fs150_ns" value="$(arg fs150_ns)"/>
    <arg name="fs150_x" value="$(arg fs150_x)"/>
    <arg name="fs150_y" value="$(arg fs150_y)"/>
    <arg name="fs150_z" value="$(arg fs150_z)"/>
    <arg name="fs150_yaw" value="$(arg fs150_yaw)"/>
    <arg name="ugv_model_name" value="$(arg ugv_model_name)"/>
    <arg name="ugv_spawn_launch" value="$(arg ugv_spawn_launch)"/>
    <arg name="ugv_ns" value="$(arg ugv_ns)"/>
    <arg name="ugv_x" value="$(arg ugv_x)"/>
    <arg name="ugv_y" value="$(arg ugv_y)"/>
    <arg name="ugv_z" value="$(arg ugv_z)"/>
    <arg name="ugv_yaw" value="$(arg ugv_yaw)"/>
    <arg name="ugv_wheel_contact_mu2" value="$(arg ugv_wheel_contact_mu2)"/>
    <arg name="ugv_wheel_contact_slip2" value="$(arg ugv_wheel_contact_slip2)"/>
    <arg name="ugv_wheel_pid_p" value="$(arg ugv_wheel_pid_p)"/>
    <arg name="ugv_wheel_pid_i" value="$(arg ugv_wheel_pid_i)"/>
    <arg name="ugv_wheel_pid_d" value="$(arg ugv_wheel_pid_d)"/>
    <arg name="ugv_wheel_separation" value="$(arg ugv_wheel_separation)"/>
    <arg name="ugv_wheel_radius" value="$(arg ugv_wheel_radius)"/>
    <arg name="ugv_command_gain" value="$(arg ugv_command_gain)"/>
    <arg name="ugv_angular_command_gain" value="$(arg ugv_angular_command_gain)"/>
    <arg name="vrpn_server_launch" value="$(arg vrpn_server_launch)"/>
    <arg name="vrpn_config_file" value="$(arg vrpn_config_file)"/>
  </include>

  <include file="$(arg vrpn_client_launch)">
    <arg name="server" value="$(arg vrpn_server)"/>
    <arg name="port" value="$(arg vrpn_port)"/>
    <arg name="trackers" value="[$(arg fs150_model_name), $(arg ugv_model_name)]"/>
    <arg name="frame_id" value="$(arg vrpn_frame_id)"/>
    <arg name="update_frequency" value="$(arg vrpn_update_frequency)"/>
    <arg name="use_server_time" value="$(arg vrpn_use_server_time)"/>
    <arg name="broadcast_tf" value="$(arg vrpn_broadcast_tf)"/>
    <arg name="refresh_tracker_frequency" value="$(arg vrpn_refresh_tracker_frequency)"/>
  </include>

  <include if="$(arg start_rigid_state_estimators)"
           file="$(find estimator_vrpn_px4_rotor_state)/launch/vrpn_px4_rotor_state_estimator.launch">
    <arg name="ns" value="$(arg fs150_ns)"/>
    <arg name="config_file" value="$(arg vrpn_px4_rotor_state_config_file)"/>
  </include>

  <group if="$(arg start_rigid_state_estimators)" ns="$(arg ugv_ns)">
    <node pkg="estimator_vrpn_ugv_state"
          type="vrpn_ugv_state_estimator_node"
          name="vrpn_ugv_state_estimator"
          output="screen"
          clear_params="true">
      <rosparam command="load" file="$(arg vrpn_ugv_state_config_file)"/>
      <param name="imu_topic" value="$(arg ugv_estimator_imu_topic)"/>
      <param name="vrpn_pose_topic" value="$(arg ugv_estimator_vrpn_pose_topic)"/>
      <param name="state_topic" value="$(arg ugv_estimator_state_topic)"/>
      <param name="extrinsic_verified" value="$(arg ugv_estimator_extrinsic_verified)"/>
    </node>
  </group>
</launch>
