<?xml version="1.0"?>
<launch>
  <arg name="server" default="127.0.0.1"/>
  <arg name="port" default="3883"/>
  <arg name="tracker" default="uav1"/>
  <arg name="ugv_tracker" default="ugv1"/>
  <arg name="client_trackers" default="$(arg tracker), $(arg ugv_tracker)"/>
  <arg name="mavros_ns" default="/uav1/mavros"/>
  <arg name="vrpn_client_name" default="vrpn_client_node"/>
  <arg name="frame_id" default="map"/>
  <arg name="output_frame_id" default="map"/>

  <arg name="update_frequency" default="100.0"/>
  <arg name="use_server_time" default="false"/>
  <arg name="broadcast_tf" default="false"/>
  <arg name="refresh_tracker_frequency" default="0.0"/>

  <arg name="max_output_rate_hz" default="50.0"/>
  <arg name="min_input_rate_hz" default="30.0"/>
  <arg name="max_input_rate_hz" default="150.0"/>
  <arg name="stale_timeout_s" default="0.3"/>
  <arg name="stuck_timeout_s" default="0.5"/>
  <arg name="stuck_position_epsilon_m" default="0.001"/>
  <arg name="stuck_angle_epsilon_deg" default="0.2"/>
  <arg name="max_translation_jump_m" default="1.0"/>
  <arg name="max_rotation_jump_deg" default="45.0"/>
  <arg name="max_reference_delta_m" default="2.0"/>

  <include file="$(find gazebo_sim_examples)/launch/fs150_ugv_vrpn_router.launch">
    <arg name="server" value="$(arg server)"/>
    <arg name="port" value="$(arg port)"/>
    <arg name="uav_tracker" value="$(arg tracker)"/>
    <arg name="ugv_tracker" value="$(arg ugv_tracker)"/>
    <arg name="client_trackers" value="$(arg client_trackers)"/>
    <arg name="mavros_ns" value="$(arg mavros_ns)"/>
    <arg name="vrpn_client_name" value="$(arg vrpn_client_name)"/>
    <arg name="frame_id" value="$(arg frame_id)"/>
    <arg name="output_frame_id" value="$(arg output_frame_id)"/>
    <arg name="update_frequency" value="$(arg update_frequency)"/>
    <arg name="use_server_time" value="$(arg use_server_time)"/>
    <arg name="broadcast_tf" value="$(arg broadcast_tf)"/>
    <arg name="refresh_tracker_frequency" value="$(arg refresh_tracker_frequency)"/>
    <arg name="max_output_rate_hz" value="$(arg max_output_rate_hz)"/>
    <arg name="min_input_rate_hz" value="$(arg min_input_rate_hz)"/>
    <arg name="max_input_rate_hz" value="$(arg max_input_rate_hz)"/>
    <arg name="stale_timeout_s" value="$(arg stale_timeout_s)"/>
    <arg name="stuck_timeout_s" value="$(arg stuck_timeout_s)"/>
    <arg name="stuck_position_epsilon_m" value="$(arg stuck_position_epsilon_m)"/>
    <arg name="stuck_angle_epsilon_deg" value="$(arg stuck_angle_epsilon_deg)"/>
    <arg name="max_translation_jump_m" value="$(arg max_translation_jump_m)"/>
    <arg name="max_rotation_jump_deg" value="$(arg max_rotation_jump_deg)"/>
    <arg name="max_reference_delta_m" value="$(arg max_reference_delta_m)"/>
  </include>
</launch>
